html(lang="en")
	head
		title= pageTitle
		meta(name='viewport', content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href="css/content.css")
	body 
		.content
			div.col
				h1.center burası menu için uygun
			div.col-6
				h1.center Jade - node template
			div.col-6 
				p Deneme
			div.col
				p ldadadasdasdadasdasdas
				dadasdasd
		div.my-div İçerik
							