@import "media";

*,html,body{
	box-sizing: border-box;
	padding:0;
	margin:0;
}
 
.content{
	display:flex;
	flex-flow:row wrap;
	width: 1080px;
	margin:0 auto;
	
	& > div {
		border:1px dashed #353535; 

		h1.center{
			text-align: center;
			justify-content: middle;
			padding:10px;
		}

		p{
			text-align: justify;
			margin:15px;
		}
	}

	.col{
		width: 100%;
	}

	.col-6{
		width: 50%;
	}

}

/*phone*/
@include media('<=phone'){
	.my-div{
		background-color: #cd2121;			
	}
}

/*tablet*/
@include media('>phone','<=desktop'){
	.my-div{
		background-color: yellow;			
	}
}

/*desktop*/
@include media('>desktop'){
	.my-div{
		background-color: green;
		padding:10px;
	}
}

h1{
	color:red;
}

p{
	font-size: 15px;
}

